@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.btn-slide {
    color: white;
    transform: scale(.8);
}

.section_base{
    width: 100%;
    padding: 0 10%;
}
.astra_base{
    width: 100%;
}

.astra_img_preview{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.astra_img_preview img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.astra_mobile{
    display: none;
}


/* section_1 */

.astra_section_1{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
   background-color: #d1e2e6;
}

.astra_section_1 .img{
    width: 50%;
    padding-left: 5%;
    height: 100%;
}
.astra_section_1 .img img {
   height: 100%;
   object-fit: cover;
}

.astra_section_1 .texts {
    width: 50%;
    padding-right: 15%;
  
}

.astra_section_1 .texts .title{
    font-size: 2.313rem;
}

.astra_section_1 .texts .paragraphe {
    font-size: 1rem;
    padding: 0.625rem 0;
}


/* section_2 */

.astra_section_2 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
   background-color: #e3e8e9;
}

.astra_section_2 .img {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 50;
}

.astra_section_2 .img img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
   
}

.astra_section_2 .texts {
    width: 40%;
    padding-left: 10%;
    z-index: 100;
}

.astra_section_2 .texts .title {
    font-size: 2.313rem;
}

.astra_section_2 .texts .paragraphe {
    font-size: 1rem;
    padding: 0.625rem 0;
}

/* section_3 */

.astra_section_3 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #d1e2e6;
}

.astra_section_3 .img {
    width: 65%;
    height: 100%;
    padding-left: 5%;
    position: relative;
}

.astra_section_3 .img img {
    /* height: 100%; */
    width: 90%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.astra_section_3 .texts {
    width: 35%;
    padding-right: 10%;

}

.astra_section_3 .texts .title {
    font-size: 2.313rem;
}

.astra_section_3 .texts .paragraphe {
    font-size: 1rem;
    padding: 0.625rem 0;
}


/* section_4 */

.astra_section_4 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #e3e8e9;
    gap: 10%;
    padding-bottom: 0.625rem;
}

.astra_section_4 .img {
    width: 50%;
    height: 100%;
    padding-right: 10%;
}

.astra_section_4 .img img {
    height: 100%;
    object-fit: cover;
}
 .img_4_2 {
     display: none;
 }

.astra_section_4 .texts {
    width: 50%;
    padding-left: 10%;

}

.astra_section_4 .texts .title {
    font-size: 2.313rem;
}

.astra_section_4 .texts .paragraphe {
    font-size: 1rem;
    padding: 0.625rem 0;
}

/* section_5 */
.astra_section_5 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #d1e2e6;
    gap: 1.25rem;
    padding: 1.25rem 0;
}

.block_img_1{
    width: 50%;
    height: 100%;
    padding-left: 10%;
    overflow: hidden;
    border-radius: 5px;
}
.block_img_1 img {
    height: 100%;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}
.block_img_2 {
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    gap: 1.25rem;
    padding-right: 10%;
}

.block_img_2 .block_1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: space-between;
}
.block_img_2 .block_1 .img_1 {
    height: 50%;
   border-radius: 5px;
   overflow: hidden;
}
.block_img_2 .block_1 .img_1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* section_7 */

.astra_section_6 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #e3e8e9;
}

.astra_section_6 .img {
    width: 70%;
    height: 100%;
    padding-left: 10%;
}

.astra_section_6 .img img {
    height: 100%;
    object-fit: cover;
}

.astra_section_6 .texts {
    width: 30%;
    padding-right: 10%;

}

.astra_section_6 .texts .title {
    font-size: 2.313rem;
}

.astra_section_6 .texts .paragraphe {
    font-size: 1rem;
    padding: 0.625rem 0;
}






.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width:1025px) {
    .astra_section_1 .texts .title,
    .astra_section_2 .texts .title,
    .astra_section_3 .texts .title,
    .astra_section_4 .texts .title,
    .astra_section_5 .texts .title,
    .astra_section_6 .texts .title,
    .astra_section_7 .texts .title{
        font-size: 1.5rem!important;
    }
  
    .section_base {
            width: 100%;
            padding: 0 2%;
        }
    
        .astra_base {
            width: 100%;
        }
    .astra_img_preview {
      display: none;
    }


    .astra_mobile {
        display: block;
        width: 100%;
    }


    /* section_1 */

    .astra_section_1 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        gap: 2.5rem;
        padding: 2.5rem 1rem;
    }

    .astra_section_1 .img {
        width: 100%;
        padding-left: 0%;
        height: 100%;
    }

    .astra_section_1 .img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .astra_section_1 .texts {
        width: 100%;
        padding-right: 0%;

    }

  

    /* section_2 */

    .astra_section_2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        gap: 2.5rem;
        padding: 2.5rem 1rem;
        padding-top: 0;
      
    }

    .astra_section_2 .img {
        width: 100%;
        height: 100%;
        position: relative;
        order: 1;
    }

    .astra_section_2 .img img {
        height: auto;
        object-fit: cover;
        position: relative;
        right: 0;
        width: 100%;

    }

    .astra_section_2 .texts {
        width: 100%;
        padding-left: 0%;
        order: 2;

    }

    .astra_section_2 .texts .title {
        font-size: 2.313rem;
    }

    .astra_section_2 .texts .paragraphe {
        font-size: 1rem;
        padding: 0.625rem 0;
    }

    /* section_3 */

    .astra_section_3 {
        width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            flex-direction: column;
            gap: 2.5rem;
            padding: 2.5rem 1rem;
    }

    .astra_section_3 .img {
        width: 100%;
        height: 100%;
        padding-left: 0%;
        position: relative;
    }

    .astra_section_3 .img img {
        /* height: 100%; */
        width: 100%;
        object-fit: cover;
        position: relative;
        bottom: 0;
    }

    .astra_section_3 .texts {
        width: 100%;
        padding-right: 0%;

    }

    .astra_section_3 .texts .title {
        font-size: 2.313rem;
    }

    .astra_section_3 .texts .paragraphe {
        font-size: 1rem;
        padding: 0.625rem 0;
    }


    /* section_4 */

    .astra_section_4 {
        width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            flex-direction: column;
            gap: 2.5rem;
            padding: 2.5rem 1rem;
            padding-top: 0;
    }

    .astra_section_4 .img {
        width: 100%;
        height: 100%;
        padding-right: 0%;
        order: 1;
    }

    .astra_section_4 .img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .img_4_1{
        display: none;
    }

    .img_4_2 {
        display: block;
    }

    .astra_section_4 .texts {
        width: 100%;
        padding-left: 0%;
        order: 2;

    }

    .astra_section_4 .texts .title {
        font-size: 2.313rem;
    }

    .astra_section_4 .texts .paragraphe {
        font-size: 1rem;
        padding: 0.625rem 0;
    }

    /* section_5 */
    .astra_section_5 {
        width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            flex-direction: column;
            gap: 1.25rem;
            padding: 1.25rem 1rem;
          
    }

    .block_img_1 {
        width: 100%;
        height: 100%;
        padding-left: 0%;
       
    }

    .block_img_1 img {
        height: 100%;
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
    }

    .block_img_2 {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: space-between;
        gap: 1.25rem;
        padding-right: 0%;
    }

    .block_img_2 .block_1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        justify-content: space-between;
    }

    .block_img_2 .block_1 .img_1 {
        height: 50%;
        border-radius: 5px;
        overflow: hidden;
    }

    .block_img_2 .block_1 .img_1 img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    /* section_7 */

    .astra_section_6 {
    width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        gap: 2.5rem;
        padding: 2.5rem 1rem;
        padding-top: 0;
    }

    .astra_section_6 .img {
        width: 100%;
        height: 100%;
        padding-left: 0%;
    }

    .astra_section_6 .img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .astra_section_6 .texts {
        width: 100%;
        padding-right: 0%;

    }

    .astra_section_6 .texts .title {
        font-size: 2.313rem;
    }

    .astra_section_6 .texts .paragraphe {
        font-size: 1rem;
        padding: 0.625rem 0;
    }






    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}